/* Main Container */
.login-form {
  background-color: var(--tw-white-color);
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.9);
}

/* Titles and Headings */
.login-form__title {
  padding: 5px;
}

/* Fieldsets and Grouping */
.login-form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

/* Input Groups and Fields */
.login-form__input-group {
  position: relative;
  margin-bottom: 20px;
  padding-top: 20px;
}

.login-form__input {
  width: 95%;
  padding: 10px 5px;
  border: none;
  border-bottom: 2px solid hsl(0, 0%, 87%);
  background-color: transparent;
  font-size: 1.1em;
  color: #555;
  position: relative;
  z-index: 1;
  transition: border-color 0.3s ease;
  top: 7px;
}

.login-form__input:focus {
  border-bottom: 2px solid var(--tw-primary-color);
  outline: none;
}

/* Labels */
.login-form__label {
  display: block;
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  transition: all 0.3s ease;
  pointer-events: none;
  background-color: var(--tw-white-color);
  padding: 0;
  color: #555;
}

.login-form__input:not(:placeholder-shown) + .login-form__label,
.login-form__input:focus + .login-form__label {
  transform: translateY(-200%) scale(0.9);
  color: var(--tw-primary-color);
}

/* Icons and Other Visual Indicators */
.login-form__toggle-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  width: 20px;
  height: 20px;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 2;
}

/* Error, Status, and Feedback Messages */
.login-form__status {
  height: 18px;
}

.login-form__loading,
.login-form__success,
.login-form__alert {
  font-size: 1em;
  position: relative;
  top: -20px;
}

.login-form__loading,
.login-form__success {
  color: var(--tw-primary-color);
}

.login-form__success {
  padding-left: var(--tw-error-padding);
}

.login-form__error,
.login-form__alert {
  color: var(--tw-login-error-font-color);
  padding-left: var(--tw-error-padding);
}

.login-form__error {
  font-size: 0.9em;
  margin-top: 8px;
  height: 20px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.login-form__error.visible {
  opacity: 1;
}

/* Buttons and Actions */
.login-form__btn-group {
  margin-top: 20px;
}

.login-form__submit-btn {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 12px 0;
  background-image: linear-gradient(
    to right,
    var(--tw-primary-color),
    var(--tw-secondary-color)
  );
  color: var(--tw-white-color);
  border: none;
  border-radius: 25px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.login-form__submit-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  transition: left 0.3s ease;
}

.login-form__submit-btn:hover::before {
  left: 0;
}
